unit-one/example_projects/hello_world/build/
unit-two/example_projects/transcript/build/
unit-three/example_projects/witness/build/
unit-three/example_projects/fungible_tokens/build/
unit-three/example_projects/generics/build/
unit-four/example_projects/collections/build/
unit-four/example_projects/marketplace/build/
advanced-topics/BCS_encoding/example_projects/bcs_move/build/
advanced-topics/BCS_encoding/example_projects/bcs_js/node_modules/
*.DS_store
sui.log.*
.idea
book