unit-one/example_projects/hello_world/build/
unit-two/example_projects/transcript/build/
unit-three/example_projects/witness/build/
unit-three/example_projects/fungible_tokens/build/
unit-three/example_projects/generics/build/
unit-three/example_projects/locked_coin/build/
unit-three/example_projects/closed_loop_token/build/
unit-four/example_projects/collections/build/
unit-four/example_projects/marketplace/build/
unit-five/example_projects/flashloan/build/
unit-five/example_projects/kiosk/build/
advanced-topics/BCS_encoding/example_projects/bcs_move/build/
advanced-topics/BCS_encoding/example_projects/bcs_js/node_modules/
advanced-topics/closed_loop_token/example_projects/closed_loop_token/build/
*.DS_store
sui.log.*
.idea
book