unit-one/example_projects/hello_world/build/
unit-two/example_projects/transcript/build/
unit-three/example_projects/witness/build/
unit-three/example_projects/fungible_tokens/build/
unit-three/example_projects/generics/build/
*.DS_store
sui.log.*