{
    "prettierMove.tabWidth": 4,
    "prettierMove.printWidth": 100,
    "prettierMove.useModuleLabel": true,
    "prettierMove.autoGroupImports": "module",
    "prettierMove.enableErrorDebug": false,
    "prettierMove.wrapComments": false
}
